.topnav {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 10px;
  background: #000;
  color: white;
}

.appname {
  font-weight: 900;
  font-size: xx-large;
}

.searchInput {
  display: block;
  margin: 5px;
  margin-left: 20px;
  padding: 10px;
  height: 30px;
}

.options {
  margin: 5px;
  padding: 10px;
  color: black;
  font-size: medium;
}

.options:hover {
  cursor: pointer;
}
